@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Website*/

.mybutton
{
    border: 1px solid #d1d1d1;
    padding: 8px 12px;
}

.menu-fa
{
    width: 120px;
}

.top-nav-links{
    display: flex;
}

.top-nav-links a
{
    color: #606c76;
    font-weight: lighter;
}

.input--text
{
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

@media screen and (max-width:550px)
{
    .menu-fa
    {
        width: 80px;
    }
    .top-nav-links a
    {
        font-size: 14px;
    }
}

@media screen and (max-width:405px)
{
    .menu-fa
    {
        width: 60px;
    }
}

@media screen and (max-width:300px)
{
    .top-nav-links{
        display: flex;
        flex-direction: column;
    }
    a .top-nav-links{
        margin: 5px;
    }
}

@media screen and (max-width:240px)
{
    .top-nav-links a
    {
        font-size: 8px;
    }
}


/* page post */

.button
{
  position: relative;
  display: table;
  padding: 0.75em 2.1em;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover
{
  background: #2f2f2f;
}

.article
{
  margin: 14px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -7px rgba(0,0,0,0.60);
  width: 100%;
  background: #fff;
}

.article__profile
{
    display: inline;
}

.article__profile a
{
    vertical-align: middle;
}

.article__img img
{
  width: 100%;
  height: auto;
}

.article__content
{
  margin: 0;
  padding: 0.5em 0.5em 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article__description
{
  margin: 0;
}

 .article__location
 {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 200;
}

.article__date
{
  margin: 0;
  font-size: 0.8em;
  font-weight: lighter;
}

.text-grand-hotel
{
    font-family: 'Grand Hotel';
    font-size: 100px;
    color: #000;
}

.btn-add__post a
{
    color: #606c76;
    position: relative;
    transform: translateX(-50%);
}

.btn-add__post
{
    margin:2px;
    font-size:24px;
    cursor:pointer;
    width:50px;
    height:50px;
    border-radius:50%;
    border: 2.5px solid white;
    box-shadow: 5px 5px 15px -7px rgba(0,0,0,0.60);
}

/* page add post */

.container-form
{
    display: flex;
    justify-content: center;
}

.form-img
{
    margin-bottom: 3rem;
}

.form-add__post
{
    padding: 20px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 5px 5px 15px -7px rgba(0,0,0,0.60);
    width: 80%;
    background: #fff;
}

.form__info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* page user */



@media screen and (max-width:550px)
{
    .profile--photo
    {
        width: 30px;
    }
}
